/*----GERAL-----------------*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Shadows+Into+Light&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: hsl(0, 100%, 50%);
  --secundary-color: hsl(0, 0%, 100%);
  --primary-color-light: hsl(0, 100%, 70%);
  --primary-color-dark: hsl(0, 90%, 40%);
  --headline: hsl(0, 0%, 0%);
  --paragraph: hsl(0, 0%, 0%);
  --bg: hsl(100, 27%, 28%);
  --bg-light: hsl(101, 62%, 77%);
  --nav-height: 8rem;
  font-size: 62.5%; /* 1rem = 10px */
}

html {
  /* chrome://flags/#smooth-scrolling */
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  text-align: center;
  overflow: overlay;
}

body header h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 3.7rem;
  font-weight: 900;
  letter-spacing: 0.5rem;
  color: var(--primary-color);
  margin-bottom: 3rem;
  text-transform: uppercase;
}

body header h2 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--bg);
  line-height: 130%;
  margin-bottom: 2rem;
}

body header h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.8rem;
  line-height: 2.5rem;
  font-weight: 800;
  line-height: 130%;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: var(--bg);
  margin-bottom: 2rem;
}

body header h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: 0.1rem;
  color: var(--bg);
}

section {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

/*------custom colors--------*/
#recycle .card circle {
  fill: var(--bg-light);
}

path[fill*='#00856F'],
#backToTopButton circle {
  fill: var(--primary-color);
}

button.open-menu path[stroke*='#00856F'],
#ecopoint li path {
  stroke: var(--secundary-color);
}

#navigation.scroll button.open-menu path[stroke*='#00856F'] {
  stroke: var(--secundary-color);
}

/*----Navigation-------------*/
nav {
  padding-inline: 2rem;
  display: flex;
  height: 8.5rem;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  background: var(--bg);
}

nav.scroll {
  background: var(--primary-color);
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}
nav .menu,
nav .close-menu {
  position: fixed;
}

/*---menu-expanded------------*/
body.menu-expanded {
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

#navigation img {
  width: 150px;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(100%);
}

body.menu-expanded .menu {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: var(--nav-height);
  background: var(--primary-color);
  transform: translateY(0);
  transition: transform 300ms;
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 7rem;
  margin-top: 6rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: var(--secundary-color);
  text-decoration: none;
}

.menu .button {
  background: var(--secundary-color);
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-color);
  display: inline-block;
  padding: 16px 32px;
  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

.menu .button:hover {
  background-color: var(--primary-color);
  color: var(--secundary-color);
  filter: brightness(1.3);
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path {
  fill: var(--secundary-color);
}

body.menu-expanded button path {
  stroke: var(--secundary-color);
}

/*---home--------------------*/
#home {
  padding-top: calc(3rem + var(--nav-height));
  padding-inline: 5rem;
}

#home::before {
  content: '';
  width: 100%;
  height: calc(73% + var(--nav-height));
  background-color: var(--bg-light);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home .button {
  margin-inline: auto;
}

#home h3 {
  margin-top: 5rem;
}

#home p {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  line-height: 150%;
  font-weight: 600;
  color: var(--bg);
  margin-bottom: 5rem;
  text-align: justify;
  margin-top: 5rem;
}

#home img {
  width: 26.4rem;
  display: none;
  margin-inline: auto;
  object-position: 0 2rem;
}

#home .stats {
  width: 100%;
  padding-block: 4rem;
  padding-inline: 1rem;
  margin-inline: auto;
  background-color: var(--bg);
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

#home .stats .stat h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 130%;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: var(--bg-light);
}

#home .stats .stat h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 0.08rem;
  color: var(--secundary-color);
}

/*----recycle-----------------*/
#recycle {
  padding-inline: 5rem;
}
#recycle .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

#recycle .card {
  padding: 2.5rem;
  text-align: left;
  border: 1px solid var(--bg-light);
  border-radius: 3rem;
}

#recycle .card h3 {
  margin-block: 1rem;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: var(--bg);
}

#recycle header h2 {
  margin-bottom: 6rem;
}

#recycle .card p {
  text-align: justify;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 130%;
  color: var(--bg);
}

.card {
  position: relative;
  width: 30rem;
  height: 30rem;
  color: #a18a96;
  text-align: center;
  display: grid;
  place-content: center;
  padding: 10px;
  background: url('./images/figure-bkg-cards.png') center no-repeat;
  background-size: cover;
  border-radius: 20px;
  z-index: 1;
  overflow: hidden;
}

.card::before,
.card::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(60% + 35px);
  background-color: #fff;
  transition: transform 0.15s.25s ease-in;
  z-index: -1;
}

.card::before {
  top: 0;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
  transform: translateY(-100%);
}

.card::after {
  bottom: 0;
  clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
  transform: translateY(100%);
}

.card__content {
  opacity: 0;
  transition: opacity 0.25s;
}

.card__title {
  color: #6a515e;
  margin-bottom: 15px;
}

.card__description {
  font-size: 14px;
}

.card:hover::before,
.card:hover::after {
  transform: translateY(0);
}

.card:hover .card__content {
  opacity: 1;
  transition-delay: 0.75s;
}

/*----curiosities------------*/
#curiosities {
  padding-inline: 5rem;
  background-color: var(--bg-light);
}

#curiosities header h2 {
  margin-bottom: 6rem;
  text-align: center;
}

#curiosities .content p {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 130%;
  font-weight: 600;
  color: var(--bg);
  margin-bottom: 2rem;
  text-align: justify;
}

#curiosities img {
  display: none;
}

/*----ecopoint --------------*/

#ecopoint {
  padding-inline: 5rem;
}

#ecopoint header h3 {
  margin-bottom: 5rem;
}

#ecopoint header h2 {
  margin-bottom: 6rem;
}

#ecopoint .content p {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 130%;
  font-weight: 600;
  color: var(--bg);
  margin-bottom: 2rem;
  text-align: justify;
  margin-bottom: 5rem;
}

#ecopoint .col-b iframe {
  width: 100%;
}

/*----gallery-----------------*/

#gallery {
  background: var(--bg-light);
}

#gallery .wrapper a {
  text-decoration: none;
}

#gallery h2 {
  margin-bottom: 4rem;
 
}

*----footer------------------*/
footer {
  background-color: var(--primary-color);
}

footer .wrapper .col-a,
footer .wrapper .col-b {
  margin-bottom: 3rem;
}

footer .wrapper .col-c {
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  line-height: 150%;
  font-weight: 600;
  letter-spacing: 0.5rem;
}

footer img {
  width: 100%;
}

footer .logo {
  display: inline-block;
  width: 150px;
}

/*-----back to top-----------*/
#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 5rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: 200ms;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
